.Header{
	display: flex;
}
.Header__nav{
	display:flex;
	width: 100%;
	align-items: baseline;
}
.Header__mainnav,
.Header__secondarynav{
	margin: 0;
	padding-left: 0;
	display: flex;
	align-items: baseline;
	list-style:none;
}
.Header__secondarynav{
	margin-right: 50px;
	flex-shrink: 0;
}
.Header__mainnav{
	flex-grow: 1;
}
.Header__navLink{
	display: block;
	padding: 44px 58px 30px 120px;
	text-decoration: none;
	font-weight: medium;
	font-size: 25px;
	line-height: 16px;
	border-top: 1px white;
	cursor: pointer;
	color:black;
}
.Header__navItem{
	margin-right: 62px;
}
.Header__logo{
	margin-right: 172px;
	padding: 54px 58px 30px 40px;
	font-weight: 800;
	font-size: 32px;
	margin-left: 231px;
	cursor: pointer;
	color:black
}
a{
	text-decoration: none;
}

@media screen and (width <= 1000px) {
	.Header{
		width: 100%;
		align-items: start;
	}
	.Header__logo{
		font-size: 25px;
		font-weight: 400;
		max-width: 200px;
		text-align: start;
		margin-left: 0px;
		margin-right: 0;
	}
	.Header__navLink{
		margin-right: -100px;
		font-size: 20px;
		margin-right: 0px;
		padding-top: 60px;
		margin-left: 20px;
	}
}